.setpassword-container {
  display:flex;
  justify-content: center;
  background-color: var(--sur-100);
  height:100vh;
}

.setpassword-form-fade {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 2px black);
  padding:7px;
  margin-top: 20px;

}

.setpassword-logo-container {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.setpassword-logo {
  width:195px;
  height:auto;
}

.setpassword-logo-text-container {
  padding-top:25px;
  padding-left:10px;
}

.setpassword-logo-text {
  color:#E1D9D1;
  font-weight: 900;
  font-size: 28px;
  text-shadow:2px 2px 3px #000000;
  font-family:'Courier New', Courier, monospace;
  text-align: left;
  padding:0;
  margin-top:-10px;
}

.setpassword-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setpassword-success-container {
  display:flex;
  justify-items: center;
  width:250px;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:auto;
  margin-right:auto;
  justify-self: center;
  background-color:rgba(135, 206, 235,.20);
  color:#E1D9D1;
  padding:5px;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 600;
  text-shadow: 2px 1px 3px #000000;
  filter:drop-shadow(1px 1px 3px black);
}

.setpassword-error-header {
  display:flex;
  flex-direction: column;
  width:270px;
  margin:5px;
  align-self: center;
  background-color:rgba(232, 27, 35,.35);
  color:#E1D9D1;
  padding:10px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  text-align: left;
  filter:drop-shadow(1px 1px 2px black);
  text-shadow: 1px 1px 3px #000000;
}