:root {
  --bg:#f2f9fd;
  --color:#28384a;
  --font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --navigation-desktop-bg:#28384a;
  --navigation-desktop-color:#f5f5f5;

  --menu-bg:#28384a;
  --menu-item-hover-bg:#43556b;
  --menu-color:#f5f5f5;

  --header-color:#f5f5f5;
}

[ data-theme="dark" ] {
  --bg:#121212;
  --color:#f5f5f5;
}

body {
  height:100%;
  min-width: 320px;
  padding:0px;
  margin:0px;
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body.dark {
  background: #121212;
}